<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="_pea-container _pea-theme">
		<% var fullitem=true; 
			var collectionitem=false;
		%>
		<% include ../shared/partial/_item %>
	</div>
<% include ../shared/footer %>