<%= fullcollection %>
<div class="_pea-row">
	<div class="_pea-document">
		<h2><a href="/collection/<%= collection.name %>"><%= collection.title %></a></h2>
		<div class="_pea-content"><%= collection.content %></div>
	</div>
</div>
<%if(fullcollection){
	console.log(request);
}%>