<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="width100">
		<% var fullpost=true; 
			var collectionpost=false;
		%>
		<% include ../shared/partial/_post %>
	</div>
<% include ../shared/footer %>