	<footer>
		<div class="width50 float-left text-left">
		Thank you for curating with <a href="http://getperiodic.org" target="_blank">Periodic</a>
		</div>
		<div class="width50 float-right text-right">
			Version :( | <a href="/p-admin">Admin</a>
		</div>
	</footer>
</body>
</html>