			<footer class="ts-row ts-serif-clean">
				<div class="ts-col-span6 ts-text-small">
				Thank you for curating with <a href="http://getperiodic.org" target="_blank">Periodic</a>
				</div>
				<div class="ts-col-span6 ts-pull-right ts-text-right ts-text-small">
					Version :( | <a href="/p-admin">Admin</a>
				</div>
			</footer>
		</main><!-- /minimal-container -->
	</body>
</html>