<header>
	<div id="width100">
		<nav class="width100">
			<ul>
				<li>
					<a href="/"><img src="/favicon.png" style="height: 1.7em;"></a>
				</li>
				<li><a href="/articles">Articles</a></li>
				<li><a href="/collections">Collections</a></li>
				<li>Browse
					<ul>
						<li><a href="/browse/authors">Authors</a></li>
						<li><a href="/browse/contenttypes">Content Types</a></li>
						<li><a href="/browse/categories">Categories</a></li>
						<li><a href="/browse/tags">Tags</a></li>
						<li class="text-right">
							<form action="/search" method="get" class="_pea-form">
								<input class="header-input" placeholder="Search" type="text" name="search">						
							</form>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>