<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="_pea-container _pea-theme">
		<% if(posts && posts.length>0){
			posts.forEach(function(post){%>
				<% include ../shared/partial/post %>
			<%});
		}
		else{%>
			no posts
		<%}%>
	</div>
<% include ../shared/footer %>