<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="_pea-container _pea-theme">
		<% var fullpost=true; %>
		<% include ../shared/partial/post %>
	</div>
<% include ../shared/footer %>