<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="container">
		<% var fullcollection=true; %>
		<% include ../shared/partial/_collection %>
	</div>
<% include ../shared/footer %>