	</main>
	<footer>
		<nav>
			Version v<a href="https://github.com/typesettin/periodicjs" target="_blank"><%- periodic.page_data.version %></a>
		</nav>
	</footer>
</body>
<!-- Thank you for curating with <a href="http://getperiodic.org" target="_blank">Periodic</a> -->
</html>