	</main>
	<footer>
		<nav>
			Version v<a href="https://github.com/repetere/periodicjs" target="_blank"><%- (locals && locals.periodic && locals.periodic.page_data)?locals.periodic.page_data.version:'10' %></a>
		</nav>
	</footer>
</body>
<!-- Thank you for curating with <a href="http://getperiodic.org" target="_blank">Periodic</a> -->
</html>