<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="ts ts-height-100">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/default.css">
  <% if(locals && locals.periodic && locals.periodic.page_data){%>
  <title><%- locals.periodic.page_data.title%></title>
  <meta name="author" content="<%- locals.periodic.page_data.author %>" />
  <meta name="description" content="<%- locals.periodic.page_data.description %>" />
  <meta name="keywords" content="<%- locals.periodic.page_data.keywords %>" />
  <meta name="Resource-type" content="Document" />
  <%}%>
  <!--<link rel="stylesheet" type="text/css" href="/stylesheets/default/periodic.css" />-->
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>