<header id="nav-header" class="ts-position-fixed ts-position-top ts-width-100 ts-z-index-1000 ts-bg-text-primary-color ts-serif-clean ts-row ts-padding-md minimize" style="border-bottom: 1px solid black;">
	<div class="ts-page-content-container ">
	  <div class="ts-pull-right ">
			<form action="/search" method="get" class="ts-form">
				<input class="header-input" placeholder="Search" type="text" name="search">						
			</form>
	  </div>
	  <div  class="ts-text-md ts-text-left">
	  	<a href="/articles">Articles</a>
	  	<a href="/collections">Collections</a>
			<a href="/browse/contenttypes">Content Types</a>
			<a href="/browse/categories">Categories</a>
			<a href="/browse/tags">Tags</a>
	  </div>
	</div>
</header>