<% include ../shared/error_header %>
<% include ../shared/nav %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
					<h3 style="word-wrap:break-word;"><%- error.message %></h3>
					<pre style="overflow:auto"><%- error.stack %></pre>
			</div>
		</div>
	</div>
<% include ../shared/error_footer %>