<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
					<h3 style="word-wrap:break-word;">Sorry page not found!</h3>
					<pre style="overflow:auto"><%- JSON.stringify(flash_messages) %></pre>
					<p>page: <%= url%></p>
			</div>
		</div>
	</div>
<% include ../shared/footer %>