		<footer style="margin-top:10em;">
			<div class="container">
        <div class="row">
            <div class="col-sm-6">
                Curated with <a href="http://getperiodic.com" target="_blank">Periodic</a> | Copyright © Company 2014</p>
            </div>
            <div class="col-sm-6 text-right"> <a href="/p-admin">Admin</a> | 
              Version :(
            </div>
        </div>
      </div>  
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <script src="<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.bootstrap','js') %>bootstrap.min.js"></script>

    <!-- <script src="../../assets/js/docs.min.js"></script> -->
    <!-- <script src="<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.bootstrap','js') %>docs.min.js"></script> -->
  </body>
</html>
