<% include ../shared/error_header %>
<% include ../shared/error_nav %>
<section class=" ts-container-margin-xl">
	<div class="ts-container ts-theme">
		<div class="ts-text-container">
		<div class="ts-row">
			<div class=" ts-container-margin-xl ts-text-center">
					<h3 style="word-wrap:break-word;">Sorry page not found!</h3>
					<% if(appenvironment!=='production'){%>
						<pre style="overflow:auto"><%- JSON.stringify(flash_messages) %></pre>
					<%} %>
					<p><strong>page:</strong> <%- url%></p>
			</div>
		</div>
		</div>
	</div>
</section>
<% include ../shared/error_footer %>