	<footer>
		<div class="_pea-container">
			<div class="_pea-row _pea-text-small">
				<div class="_pea-col-span6">Thank you for curating with <a href="http://getperiodic.com" target="_blank">Periodic</a></div>
				<div class="_pea-col-span6 _pea-text-right">
					Version :(
				</div>
			</div>
		</div>
	</footer>
</body>
</html>