<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>
	<% if(pagedata && periodic){%><%= pagedata.title %> - <%= periodic.name %><%}
	else{%>Periodic<%}%>
	</title>
	<meta name="author" content="Yaw Joseph Etse" />
	<meta name="description" content="Periodic is an enterprise information and content management system, designed to quickly implement your own information architecture. Periodic defines a lightweight application wrapper for Express, that provides a simple mechanism to handle theming, routes and extensions. Unlike some traditional content management solutions, there are no assumptions made about your data model, which allows for information hierarchies and taxonomies to be extremely malleable." />
	<meta name="keywords" content="content management framework, typeset, wysiwyg, ui manager, CMS, CDS, Express, ExpressJS, Application Framework, Micro Framework, Node CMS, wordpress, drupal, modular,Content Delivery System, Content Management System, Periodic Decoupled Framework" />
	<meta name="Resource-type" content="Document" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/default/periodic.css" />
	<link rel="icon" type="image/png" href="/favicon.png">
	<% if(pagedata && periodic){%>
		<% var headertags = locals.viewhelper.includeJavaScripts(pagedata.headerjs); %><%- headertags %>
	<%}%>
</head>
<body>