<header>
	<div id="_pea_ribbon-element"> </div>
	<div id="_pea_menu">
		<div class="_pea-container">
			<div class="_pea-row">
				<a class="_pea_menu-heading _pea-pull-left" href="/">
					<img src="/favicon.png" style="height: 1.7em;">
				</a>
				<nav id="_pea-main-navigation" class="_pea_menu-nav _pea-pull-left">
					<ul class="_pea_menu-items">
						<li><a href="/articles">Articles</a></li>
						<li><a href="/collections">Collections</a></li>
						<li>Browse
							<ul class="_pea_menu-items-subnav">
								<li><a href="/browse/authors">Authors</a></li>
								<li><a href="/browse/contenttypes">Content Types</a></li>
								<li><a href="/browse/categories">Categories</a></li>
								<li><a href="/browse/tags">Tags</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<nav id="_pea-user-settings" class="_pea-pull-right">
					<ul class="_pea_menu-items">
						<li>
							<form action="/search" method="get" class="_pea-form">
								<input class="header-input" placeholder="Search" type="text" name="search">						
							</form>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>