<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="ts ts-height-100">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
    html{
      height:100%;
    }
    body {
      margin: 0;
      padding: 1rem;
      /*font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;*/
      /*font-family: 'freight-sans-pro', 'BlinkMacSystemFont', -apple-system, 'Roboto', 'Lucida Sans';*/
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      height:100%;
      overflow-x:hidden;
      font-size:14px;
      box-sizing:border-box;
    }
    header nav{
      border-bottom:1px solid lightgrey;
      margin-bottom:1rem;
    }
    footer nav{
      border-top:1px solid lightgrey;
      font-size:0.75rem;
      margin-top:1rem;
      text-align:center;
      padding:1rem;
    }
    a{
      color:black;
    }
    a:visited{
      color:darkgrey;
    }
    html, 
    body, 
    header, 
    footer, 
    nav, 
    section, 
    main, 
    article, 
    div, 
    details, summary, pre,
    p, tfoot, thead, tbody, tr, td, th 
    span{
      box-sizing:border-box;
    }
    pre{
      border: 1px solid gainsboro;
      overflow:auto;
      /*class=" ts-text-xs ts-padding-md" style="overflow:auto; word-wrap:break-word; border:1px solid black;"*/
    }
    table{
      width:100%;
    border-spacing: 0;
    border-collapse: collapse;
      border:1px solid whitesmoke;
    }
    table thead, table tfoot{
      background:whitesmoke;
    }
    table tbody tr:nth-child(even){
      /*background:snow;*/
    }
    table tbody td{
      padding:0.25rem;
    }
    table th{
      padding:0.25rem;
    }
    table tfoot tr th{
      text-align:left;
      font-size:0.75rem;
    }
    table thead tr th{
      text-align:left;
    }
    form{
      display:flex;
    }
    form aside, form input{
      display: flex;
      flex:1;
      margin-bottom:1rem;
      font-size:1.25rem;
      height:2rem;
    }
    main{
      display:flex;
      /* min-height:10rem; */
    }
    main > aside{
      /*// flex: 1;*/
      padding:0 1rem 0 0;
    }
    main > aside summary{
      font-size:1.25rem;
      padding: 0.3333rem 0;
    }
    main > article{
      flex: 1;
      min-height:10rem;
    }
    main > article table{
      min-height:5rem;
    }
    main > article > section > h3{
      margin-top:0.25rem;
      font-size:1.25rem;
    }
    main main{
      flex:1;
    }
    main main article section{
      text-align:center;
    }
    main main article section p{
      max-width:20rem;
      margin:auto;
      text-align:justify;
      margin-bottom:1rem;
    }
    main main article section figure{
      text-align:center;
    }
    main main article section figure img{
      max-width:10rem;
      height:auto;
      margin:auto;
    }
  </style>
  <% if(locals && locals.periodic && locals.periodic.page_data){%>
  <title><%- locals.periodic.page_data.title%></title>
  <meta name="author" content="<%- locals.periodic.page_data.author %>" />
  <meta name="description" content="<%- locals.periodic.page_data.description %>" />
  <meta name="keywords" content="<%- locals.periodic.page_data.keywords %>" />
  <meta name="Resource-type" content="Document" />
  <%}%>
  <!--<link rel="stylesheet" type="text/css" href="/stylesheets/default/periodic.css" />-->
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>