<% include ../shared/header %>
	<div class="_pea-container">
		<div class="_pea-row">
			<div class="_pea-col-span6 _pea-col-nofloat">
				<div class="_pea-row _pea-container-forminput _pea-text-center">
					<h1 class="_pea-h1-logo">
						<img src="/images/brand/periodic-favicon.png"/>
					</h1>
				</div>
				<div class="_pea-document">
					<div class="_pea-text-justify">
						<p>Content management doesn't have to be boring, find out more <a href="getperiodic.com">getperiodic.com</a></p>
					</div>
				</div>
				<div class="_pea-text-justify _pea-text-small">
					<p class="">Periodic is an enterprise information and content management system, designed to quickly implement your own information architecture.</p> 
					<p>Periodic defines a lightweight application wrapper for Express, that provides a simple mechanism to handle theming, routes and extensions.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>