<!doctype>
<html>
	<head>
		<title> Error 500</title>
	</head>
	<body>
		<div><%- JSON.stringify(message) %></div>
		<div><%- JSON.stringify(error) %></div>
		<div><%- error.stack %></div>
		<div>:(</div>
	</body>
</html>