<!doctype>
<html>
	<head>
		<title> Error 500</title>
		<style>
			pre{
				/*word-break: break-word;*/
			}
		</style>
	</head>
	<body>
		<!-- <pre><%- JSON.stringify(error) %></pre>
		<pre><%- message %></pre> -->
		<pre><%- error.stack %></pre>
		<div>:(</div>
	</body>
</html>