<!doctype>
<html>
	<head>
		<title> app title: <%= locals.title %></title>
	</head>
	<body>
		<% for(var x = 0; x <5; x++){ %>
			<p>test ejs - <%= randomdata %></p>
			<p><%= locals.testFunction("blah boo") %></p>
		<% } %>
	</body>
</html>