<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="container">
		<div class="col-12 col-sm-12 col-lg-12">
			<% include ../shared/partial/_post %>
    </div>
	</div>
<% include ../shared/footer %>