<nav class="button-container">
  <div class="title showtitle <% if(locals.autohidetitle ==='autohide'){%>autohide<%}%>">
    <a href="/"><% include ../shared/partial/_site_name %></a>
  </div>
  <span id="showMenu" class="menu-button left-button">Table of Contents</span>
  <span id="trigger-overlay" class="right-button"><img class="search-button" src="/themes/periodicjs.theme.reader/img/search.png"/></span>
</nav>