<% include ../shared/header %>
<article class="content">
	<h3 style="word-wrap:break-word;"><%- error.message %></h3>
	<pre style="overflow:auto"><%- error.stack %></pre>
</article>
<% include ../shared/footer %>