<% include ../shared/header %>
<article class="content">
	<h3 style="word-wrap:break-word;">Sorry page not found!</h3>
	<pre style="overflow:auto"><%- JSON.stringify(flash_messages) %></pre>
	<p>page: <%= url%></p>
</article>
<% include ../shared/footer %>