<figure class="list-view-scroll-side-item list-view-scroll-side-<%-main_media_side%>"  >
    <div class="figure-background-image" <% include ../shared/partial/_contentEntity_bgImg_background %> >
    &nbsp;
    </div>
</figure>
