<% var pagedisplaytype = "content";
	var pagedisplaytypeSpecific = "collection";
	var contentEnitity = collection;
	  contentContentAttributes = (contentEnitity.contenttypeattributes && contentEnitity.contenttypeattributes.periodical)? true : false; 
	  var contentContentCollectionAttributes = (contentEnitity.contenttypeattributes && contentEnitity.contenttypeattributes['periodical-collection'])? true : false; 
	var useListLayout = contentContentCollectionAttributes && contentEnitity.contenttypeattributes['periodical-collection'].effect==='list'; %>
<% include ../shared/header %>
<body class="<%if(useListLayout){%>item<%}%> periodical-collection">
	<div class="periodical-page-border top"></div>
	<div class="periodical-page-border right"></div>
	<div class="periodical-page-border left"></div>
	<div class="periodical-page-border bottom"></div>
	<div class="header-container">
    <% include ../shared/nav %>
  </div>

  <%
  	

	if(useListLayout) {
		showCollectionContent = true;
		%>
		<% include _collectionListViewScroll %>
	<%}
	else{%>
		<% include _linotype %>
	<%}%>

<% include ../shared/footer %>