<% include ../shared/header %>
<!-- 			<article class="ts-text-container">
				<section class=" ts-container-margin ts-container-margin-auto ts-width-90">
					<h3>Applications that are developer, designer, and enterprise friendly</h3>
					<summary>A modular design philosophy helps create modular, nimble, fast applications that are easier to maintain, develop, test, and deploy.</summary>dddd
				</section>
			</article> -->

<% if(homepagedocs && homepagedocs.length>0){
	homepagedocs.forEach(function(doc){
		switch (doc.entitytype){
			case 'compilation':
				var compilation = doc; %>
				<% include ../compilation/_compilation %>
				<%break;
			case 'collection':
				var collection = doc; %>
				<% include ../collection/_collection %>
				<%break;
			case 'item':
				var item = doc; %>
				<% include ../item/_item %>
				<%break;
		}
	});
	%>
	<article class="ts-text-container">
		<summary class=" ts-container-margin ts-container-margin-auto ts-width-90 ts-row">
			<div class="ts-col-span4"><a href="/items">View all items</a></div>
			<div class="ts-col-span4"><a href="/collections">View all collections</a></div>
			<div class="ts-col-span4"><a href="/compilations">View all compilations</a></div>
		</summary>
	</article>
	<%
}
else{%>
	<article class="ts-text-container">
		<h1>no docs</h1>
	</article>
<%}%>
<% include ../shared/footer %>