<section class="item-content list-content">
	<h2><a href="/<%= item.urlslug %>/<%= item.name %>"><%= item.title %></a></h2>
	<aside>
		<div class="_pea-content"><%- item.content %></div>
	</aside>
</section>