<section class="collection-content list-content">
	<h2><a href="/<%= collection.urlslug %>/<%= collection.name %>"><%= collection.title %></a></h2>
	<aside>
		<div class="_pea-content"><%- collection.content %></div>
	</aside>
</section>