<% if(genericdoc.entitytype === "asset"){%>
	<section class="section_asset">
		<% include _genericdoc_full_asset_html %>
	</section>
<%}
else if(genericdoc.assets && genericdoc.assets.length >0){%>
	<section class="section_assets">
		<div class="content_assets p_c_fws-slideshow  p_c_fws-slideshow-preview ">
			<ul>
				<% genericdoc.assets.forEach(function(asset){%>
				<li>
					<% include _genericdoc_asset_html %>
				</li>
				<%}) %>
			</ul>
			<!-- <div id="assetInfoButton"><span>i</span></div> -->
		</div>
	</section>
<%} %>