<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="_pea-container _pea-theme">
		<% var fullcollection=true; %>
		<% include ../shared/partial/_collection %>
	</div>
<% include ../shared/footer %>