<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="_pea-container _pea-theme">
		<% var fullcollection=true; %>
		<% include ../shared/partial/collection %>
		<% console.log(request) %>
		<%- request %>
	</div>
<% include ../shared/footer %>