<%
var backgroundimage;
if(asset.assettype && asset.assettype.match("image")){  
	backgroundimage = asset.fileurl;
}%>
<div class="asset ts-asset-slideshow">
	<figure class="asset-figure-effect" style="background-image: url(<%- backgroundimage %>);">
		
    <figcaption>
	    <p class="icon-links">
	    	<a href="/asset/<%- asset.name %>" title="<%- asset.title %>" data-description="<%- asset.content %>">[+]</a>
	    </p>
    </figcaption>
	</figure>
</div>