<section class="item-content list-content ts-container-margin ts-container-margin-auto ts-width-90">
	<h4><a href="/<%= item.urlslug %>/<%= item.name %>"><%= item.title %></a></h4>
	<aside>
		<div class="ts-serif-clean"><%- item.content %></div>
	</aside>
</section>