<section class="collection-content list-content ts-container-margin ts-container-margin-auto ts-width-90">
	<h2><a href="/<%= collection.urlslug %>/<%= collection.name %>"><%= collection.title %></a></h2>
	<aside>
		<div class="ts-serif-clean"><%- collection.content %></div>
	</aside>
</section>