body{
	font-family: 'Merriweather', serif;
	margin:0;
	padding:0;
	color:black;
	text-align: center;
}
nav{
	color: #fff;
	background: #000;
}
.container{
	width:10em;
	margin:auto;
}
.row{
	margin:auto;
}