<% include ../shared/header %>
<% include ../shared/nav %>
	<div class="width100">
		<% var fullitem=true; 
			var collectionitem=false;
		%>
		<% include ../shared/partial/_item %>
	</div>
<% include ../shared/footer %>