<%- include('../shared/header') %>
<%- include('../shared/nav') %>
  <main>
    <article>
        <section>
          <figure>
            <img src="/favicon.png"/>
          </figure>
        </section>
        <section>
          <p><a href="https://github.com/repetere/periodicjs">Periodic</a> is a library for rapidily develop database agnostic enterprise applications with express &amp; node.js.</p>
          <p> Easily define themes, routes and extensions to build your own CMS, ERP, ECM, API Server and more.</p>
        </section>
    </article>
  </main>
<%- include('../shared/footer') %>