<!doctype>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
		<link href='/themes/minimal/main.css' rel='stylesheet' type='text/css'>
		<title><%= pagedata.title %></title>
	</head>
	<body>