<div id="list-view-container" class="list-view-scroll-container">
		

		<div id="list-view-scroll" class="list-view-scroll">

      <section id="list-view-scroll-section-0" class="list-view-scroll-section list-view-scroll">
        <article class="list-view-scroll-side-item list-view-scroll-side-left">
          <h2>Travel &amp; Leisure Transporter</h2>
          <p class="small">Upgrade your next warm-weather escape with a stay at one of these top-ranked beach hotels, according to T+L readers.</p>
          <p></p>
          <div class="article-meta">
            <time>March 6, 2013</time>
            <small>Ann Sheilds</small>
            <small>The best beaches in the world</small>
          </div>
          <p>How to explain the difference a beachfront hotel makes? “More than unobstructed views, it’s about the freedom of not having to look both ways to cross the street before feeling sand between your toes,” says Matt Thomson, founder of <a title="Wavecation.com" href="http://www.wavecation.com" target="_blank">Wavecation.com</a>, a surfing-focused vacation rental company.</p>
        </article>
        <figure class="list-view-scroll-side-item list-view-scroll-side-right">
          <img src="http://dummyimage.com/600x400/000/fff">
        </figure>
      </section>

      <section id="list-view-scroll-section-1" class="list-view-scroll-section list-view-scroll">
        <figure class="list-view-scroll-side-item list-view-scroll-side-left">
          <img src="http://dummyimage.com/600x400/000/fff">
        </figure>
        <article class="list-view-scroll-side-item list-view-scroll-side-right">
          <h2>No. 1 Southern Ocean Lodge, Kangaroo Island, Australia</h2>
          <p class="small">Contemporary in design and green in attitude, this lodge sits on a wildlife-rich island 30 minutes from Adelaide.</p>
          <p></p>
          <div class="article-meta">
            <time>March 7, 2013</time>
            <small>Ann Sheilds</small>
            <small>The best beaches in the world</small>
          </div>
          <p>Contemporary in design and green in attitude, this lodge sits on a wildlife-rich island 30 minutes from Adelaide. Each of the 21 suites offers limestone floors, an outdoor terrace, and works by local artisans. (Air-conditioning is unnecessary; the property was constructed to take advantage of natural weather patterns.) For a spectacular ocean view from a hand-carved granite bath, book the glass-walled Osprey Pavilion suite, which also features a private plunge spa and sunken lounge.</p>
        </article>
      </section>

      <section id="list-view-scroll-section-2" class="list-view-scroll-section list-view-scroll">
        <article class="list-view-scroll-side-item list-view-scroll-side-left">
          <h2>No. 2 Discovery Shores Boracay, Boracay, Philippines'</h2>
          <p class="small">Upgrade your next warm-weather escape with a stay at one of these top-ranked beach hotels, according to T+L readers.</p>
          <p></p>
          <div class="article-meta">
            <time>March 6, 2013</time>
            <small>Ann Sheilds</small>
            <small>The best beaches in the world</small>
          </div>
          <p>The 2 1/2-mile stretch known as White Beach is often singled out for having the softest sand in the world—and it’s the setting for this resort and its 88 suites (some with private Jacuzzis). The water’s fine, whether you want to take a dip in the infinity pool or Jet Ski on the Sibuyan Sea. For people-watching, head to the Sandbar, where bartenders stir up lychee- and mango-infused mojitos.</p>
        </article>
        <figure class="list-view-scroll-side-item list-view-scroll-side-right">
          <img src="http://dummyimage.com/600x400/000/fff">
        </figure>
      </section>

      <section id="list-view-scroll-section-3" class="list-view-scroll-section list-view-scroll">
        <figure class="list-view-scroll-side-item list-view-scroll-side-left">
          <img src="http://dummyimage.com/600x400/000/fff">
        </figure>
        <article class="list-view-scroll-side-item list-view-scroll-side-right">
          <h2>No. 3 Lizard Island Resort, Great Barrier Reef, Australia</h2>
          <p class="small">Upgrade your next warm-weather escape with a stay at one of these top-ranked beach hotels, according to T+L readers.</p>
          <p></p>
          <div class="article-meta">
            <time>March 6, 2013</time>
            <small>Ann Sheilds</small>
            <small>The best beaches in the world</small>
          </div>
          <p>With 24 beaches fringing the Great Barrier Reef and accommodations for just 40 couples, Lizard Island is in a category all its own. Open-plan suites are done in royal blue, turquoise, and stark white to mimic the Coral Sea below, with hammocks and decks discreetly hidden from view. Count on sunset cruises, torchlit beach dinners, and complimentary gourmet picnic baskets. Book an Anchor Bay Suite for a direct pathway to the beach and daybed sunbathing from a personal veranda.</p>
        </article>
      </section>

      <section id="list-view-scroll-section-4" class="list-view-scroll-section list-view-scroll">
        <article class="list-view-scroll-side-item list-view-scroll-side-left">
          <h2>No. 4 Hotel Santa Caterina, Amalfi, Italy</h2>
          <p class="small">Upgrade your next warm-weather escape with a stay at one of these top-ranked beach hotels, according to T+L readers.</p>
          <p></p>
          <div class="article-meta">
            <time>March 6, 2013</time>
            <small>Ann Sheilds</small>
            <small>The best beaches in the world</small>
          </div>
          <p>Now in its fourth generation of Gambardella family management, this 1904 looker still reigns in Belle Époque splendor. Rooms are spread across the main building, two villas, and a triplet of honeymoon cottages and decorated with local antiques. An elevator descends to a private beach, saltwater pool, fitness center, and thatched-roof pizzeria and fish grill. As you stroll through the secluded terraced gardens and citrus orchards, it’s obvious why Liz Taylor and Richard Burton chose to hide out here.</p>
        </article>
        <figure class="list-view-scroll-side-item list-view-scroll-side-right">
          <img src="http://dummyimage.com/600x400/000/fff">
        </figure>
      </section>

    </div>
	</div>